---
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>About Me</h1>
		<h2>とAstroで作ったあたらしいsiteについて</h2>
		<p>ボクはAstroでチュートリアルを進めているところです。このページは、ボクがこの手で生み出した記念すべき2ページ目です。</p>
		<p>このサイトはボクがチュートリアルを完了するまで更新されます。この冒険を見逃さないでくださいね。</p>
	</body>
</html>
